body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  padding: 50px 0;
  background-color: white;
}

.message {
  text-align: center;
  &:only-child {
    margin: 0;
  }
}
.form-inline {
  margin: 10px auto;
  width: 235px;
  .btn-default {
    margin-left: 5px;
  }
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.btn-danger {
  margin-right: 5px;
}

.panel {
  .panel-heading {
    cursor: pointer;
  }
  .panel-collapse {
    overflow: hidden;
    transition: height 0.2s ease-out;
  }
  .panel-body {
    border: none !important;
  }
  h2 {margin-top: 5px !important;}
}
